/* :root {
  --main-text-cl: #757575;
  --title-text-cl: #212121;
  --accent-text-cl: #2196f3;
  --nav-text-cl: #000000;
  --second-bg-cl: #2f303a;
  --second-text-cl: #ffffff;
  --third-bg-cl: #f5f4fa;
  --btn-accent-cl: #188ce8;
  --link-contact-cl: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
  --indent-grid: 30px;
  --item: 4;
  --card-text: #eeeeee;
  --icon: #afb1b8;
  --anime-basic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-text-cl);
  letter-spacing: 0.03em;
  line-height: 1.71;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-grid);
}

.grid__cards {
  flex-basis: calc((100% - var(--indent-grid) * (var(--item) - 1)) / var(--item));
} */

/* Навигация */

/* .header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-header);
}

.header__container {
  display: flex;
  align-items: center;
} */

/* .logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-text-cl);
} */

/* .header__logo {
  margin-right: 93px;
}

.header__logo--part {
  color: var(--nav-text-cl);
} */

/* .nav {
  color: var(--nav-text-cl);
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
} */

/* .header__link-contact:focus,
.header__link-contact:hover, */
/* .nav__link:focus,
.nav__link:hover, */
/* .nav__link--current {
  color: var(--accent-text-cl);
} */

/* .header__contact {
  display: flex;
  align-items: center;
  gap: 50px;
} */

/* .nav__link, */
/* .header__link-contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--anime-basic);
} */

/* .header__icon {
  margin-right: 10px;
  fill: currentColor;
} */

/* .nav__link--current {
  position: relative;
} */

/* .nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-cl);
  border-radius: 2px;
} */

/* Шапка */

/* .hero {
  background-color: var(--second-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: var(--second-text-cl);
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
} */

/* .button {
  font-family: 'Roboto';
  background-color: var(--accent-text-cl);
  color: var(--second-text-cl);
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border: none;
  min-width: 200px;
  transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .button:focus,
.button:hover {
  background-color: var(--btn-accent-cl);
} */

/* Принципы работы */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .about__group {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--third-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
} */

/* .about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-text-cl);
  margin-bottom: 10px;
} */

/* Чем занимаемся */

/* .work {
  padding-top: 0;
} */

/* .title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-text-cl);
} */

/* .work__list {
  --item: 3;
  position: relative;
} */

/* .work__wrap {
  position: absolute;
  min-height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
} */

/* .work__text {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--second-text-cl);
} */

/* Наша команда */

/* .team {
  background-color: var(--third-bg-cl);
} */

/* .team__card {
  background-color: var(--second-text-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .team__wrapper {
  padding: 30px;
  text-align: center;
} */

/* .team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-text-cl);
  margin-bottom: 10px;
} */

/* .team__proffesion {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 16px;
} */

/* Постоянные клиента */

/* .client__list {
  --item: 6;
} */

/* .client__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon);
  transition: color var(--anime-basic);
} */

/* .client__logo:focus,
.client__logo:hover {
  color: var(--accent-text-cl);
} */

/* .client__icon {
  fill: currentColor;
} */

/* Футер */

/* .footer {
  background-color: var(--second-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
} */

/* .footer__logo {
  display: inline-block;
  margin-bottom: 20px;
} */

/* .footer__logo--part {
  color: var(--second-text-cl);
} */

/* .footer__contacts {
  font-style: normal;
} */

/* .footer__item:not(:last-child) {
  margin-bottom: 9px;
} */

/* .footer__contact {
  color: var(--link-contact-cl);
  transition: color var(--anime-basic);
} */

/* .footer__contact:focus,
.footer__contact:hover {
  color: var(--accent-text-cl);
} */

/* .footer__addres {
  font-style: normal;
  color: var(--second-text-cl);
} */

/* .footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--second-text-cl);
  margin-bottom: 20px;
} */

/* .footer__subscribing {
 margin-left: auto;
} */

/* .footer__subscribing-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
} */

/* .footer__input {
  width: 358px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--second-text-cl);
} */

/* .footer__btn {
  gap: 10px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
} */

/* портфоліо */

/* .project__filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
} */

/* .project__btn {
  font-family: inherit;
  background-color: var(--third-bg-cl);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-cl);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition: color var(--anime-basic), background-color var(--anime-basic),
    box-shadow var(--anime-basic);
} */

/* .project__btn:hover,
.project__btn:focus {
  color: var(--second-text-cl);
  background-color: var(--accent-text-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .project__item {
  --item: 3;
} */

/* .project__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--anime-basic);
} */

/* .project__link:focus,
.project__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* .project__card {
  position: relative;
  overflow: hidden;
} */

/* .project__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--anime-basic);
} */

/* .project__overlay-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--second-text-cl);
} */

/* .project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(0);
} */

/* .project__name {
  border: 1px solid var(--card-text);
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
} */

/* .project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-cl);
  margin-bottom: 4px;
} */

/* .project__text {
  font-size: 16px;
  line-height: calc(30 / 16);
} */

/* Соціальні картинка */

/* .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

/* .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon);
  transition: color var(--anime-basic), background-color var(--anime-basic);
} */

/* .social__icon {
  fill: currentColor;
} */

/* .footer .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--second-text-cl);
}  */

/* .social__link:hover,
.social__link:focus {
  color: var(--second-text-cl);
  background-color: var(--accent-text-cl);
}  */

/* Модальне вікно */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--anime-basic), visibility var(--anime-basic);
} */

/* .backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform var(--anime-basic);
  background-color: var(--second-text-cl);
  border-radius: 4px;
} */

/* .modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--second-text-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--anime-basic);
} */

/* .modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-text-cl);
} */


/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
} */

/* .form {
  text-align: center;
} */

/* .form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-cl);
} */

/* .form__group {
  margin-bottom: 20px;
} */

/* .form__components {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} */

/* .form__components:last-child {
  margin-bottom: 0;
} */

/* .form__group {
  margin-bottom: 20px;
} */

/* .form__text {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
} */

/* .form__wrap {
  position: relative;
} */

/* .form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px;
  padding-left: 40px;
  cursor: pointer;
  transition: border-color var(--anime-basic);
} */

/* .form__input:hover + .form__icon,
.form__input:focus-within + .form__icon {
  fill: var(--accent-text-cl);
} */

/* .form__comment:focus,
.form__comment:hover,
.form__input:hover,
.form__input:focus-within {
  border-color: var(--accent-text-cl);
  outline: var(--accent-text-cl);
} */

/* .form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  transition: border-color var(--anime-basic);
} */

/* textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
} */

/* .form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--anime-basic);
} */

/* .form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 30px;
} */

/* .form__checkbox:hover + .form__agreement-icon .form__agreement-uncheck,
.form__checkbox:focus + .form__agreement-icon .form__agreement-uncheck {
  fill: var(--accent-text-cl);
} */

/* .form__agreement-check {
  opacity: 0;
} */

/* .form__checkbox:checked + .form__agreement-icon .form__agreement-check {
  opacity: 1;
} */

/* .form__agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  user-select: none;
  text-underline-position: under;
} */

/* .form__agreement-link {
  color: var(--accent-text-cl);
} */