:root {
    --main-text-cl: #757575;
    --title-text-cl: #212121;
    --accent-text-cl: #2196f3;
    --nav-text-cl: #000000;
    --second-bg-cl: #2f303a;
    --second-text-cl: #ffffff;
    --third-bg-cl: #f5f4fa;
    --btn-accent-cl: #188ce8;
    --link-contact-cl: rgba(255, 255, 255, 0.6);
    --border-header: #ececec;
    --indent-grid: 30px;
    --item: 4;
    --card-text: #eeeeee;
    --icon: #afb1b8;
    --anime-basic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}