
.client__list {
  --item: 2;

  @media screen and (min-width: 768px) {
    --item: 3;
    }
  
    @media screen and (min-width: 1200px) {
    --item: 6;
    }

}
.client__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
 max-width: 210px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon);
  transition: color var(--anime-basic);


  &:focus,
  &:hover {
    color: var(--accent-text-cl);
  }
}
.client__icon {
    fill: currentColor;
}