.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-header);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: calc (28 / 24);

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: calc (31 / 26);
  }
}
.header__logo--part {
  color: var(--nav-text-cl);
}
.header__contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
.header__link-contact {
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 12px;
    line-height: calc (14 / 12);
    margin-bottom: 10px;
    align-items: center;
    transition: color var(--anime-basic);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: calc (16 / 14);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--anime-basic);
  }

  &:focus,
  &:hover {
    color: var(--accent-text-cl);
  }
}
.header__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    fill: currentColor;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    fill: currentColor;
  }
}

.menu-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 15px;

  @media screen and (min-width: 768px) {
display: none;
    }
}