.hero {
  background-color: var(--second-bg-cl);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img@1x_s.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero/img@2x_s.png);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero/img@1x_m.png);
    max-width: 768px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero/img@2x_m.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero/img@1x_lg.png);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../images/hero/img@2x_lg.png);
    }
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  color: var(--second-text-cl);
  text-transform: uppercase;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    line-height: calc(60 / 44);
    width: 696px;
  }
}
