.project__filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
}
.project__btn {
  font-family: inherit;
  background-color: var(--third-bg-cl);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-cl);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition: color var(--anime-basic), background-color var(--anime-basic),
    box-shadow var(--anime-basic);

  &:hover,
  &:focus {
    color: var(--second-text-cl);
    background-color: var(--accent-text-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.project__item {
  --item: 3;
}
.project__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--anime-basic);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project__card {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--anime-basic);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}
.project__overlay-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--second-text-cl);
}
.project__name {
  border: 1px solid var(--card-text);
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-cl);
  margin-bottom: 4px;
}
.project__text {
  font-size: 16px;
  line-height: calc(30 / 16);
}
